@value crtBlue from '../Styles/colours.css';

@keyframes imageZoom {
  from {
    height: 0;
    -webkit-transform: rotate(0deg);
  }

  to {
    height: 80%;
    -webkit-transform: rotate(360deg);
  }
}

.foodContainer {
  background: crtBlue;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}

.foodImage {
  animation: imageZoom 1s ease-in;
  height: 80%;
  left: 20%;
  position: absolute;
  top: 0;
  width: auto;
}

.foodAudio {
  visibility: hidden;
}
